{% if data_type == "documents" %}
    <div class="card-header d-flex flex-wrap gap-2 justify-content-start justify-content-md-between align-items-center">
        <h5 class="mb-3 ">Documents - {{ module }} ({{ department }}, {{ client }})</h5>  
        <select name="file_name" id="file_name" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:30%" required >
          {% for item1 in file_name %}
              <option  value="{{ item1.0 }}" {% if item1.0 == sf %}selected{% endif %}> {{ item1.1 }} </option>
          {% endfor %}
        </select>
    </div>
      
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0" id="datatable">
            <thead class="align-middle">
                     <tr>
                       {% for col in header %}
                               <th scope="col" style=" {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                       {% endfor %}
                     </tr>
            </thead>
            <tbody>
                {% for row in data %}
                       <tr style="color:black">
                           <td>{{ forloop.counter }}</td>
                           {% for cell in row %}
                                   <td>
                                       {% if cell|length > 60 %}
                                           <!-- <textarea rows="4" readonly>{{ cell }}</textarea>  -->
                                           {{ cell }}
                                       {% else %}
                                           {{ cell }}
                                       {% endif %}
                                   </td>
                           {% endfor %}
                           <td class="text-center">
                             <a href="#" class="btn btn-sm btn-primary"> <i class="uil uil-download"></i> Download</a>
                           </td>

                       </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>v

{% elif data_type == "metadata" %}
    <div class="card-header d-flex flex-wrap gap-2 justify-content-start justify-content-md-between align-items-center">
        <h5 class="mb-3 ">Metadata - {{ module }} ({{ department }}, {{ client }})</h5>  
        <select name="forms" id="forms" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:30%" required >
          {% for item1 in forms %}
              <option  value="{{ item1.0 }}" {% if item1.0 == sf %}selected{% endif %}> {{ item1.1 }} </option>
          {% endfor %}
        </select>
    </div>
      
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0" id="datatable">
            <thead class="align-middle">
                     <tr>
                       {% for col in header %}
                           {% if not forloop.first %}
                               <th scope="col" style=" {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                           {% endif %}
                       {% endfor %}
                     </tr>
            </thead>
            <tbody>
                {% for row in data %}
                       <tr style="color:black">
                           <td>{{ forloop.counter }}</td>
                           {% for cell in row %}
                               {% if not forloop.first %}
                                   <td>
                                       {% if cell|length > 60 %}
                                           <!-- <textarea rows="4" readonly>{{ cell }}</textarea>  -->
                                           {{ cell }}
                                       {% else %}
                                           {{ cell }}
                                       {% endif %}
                                   </td>
                               {% endif %}
                           {% endfor %}
                           <td class="text-center">
                             <a href="/form_master?form={{ row.0 }}&readonlyWF=1" class="btn btn-sm btn-primary">View</a>
                           </td>

                       </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>

{% elif data_type == "workflow" %}
    <h5 class="mb-3 ">Workflow - {{ module }} ({{ department }}, {{ client }})</h5>
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0" id="datatable">
            <thead class="table-light">
                <tr>
                    <th>Sr.&nbsp;No.</th>
                    <th>File&nbsp;No.</th>
                    <th>Request&nbsp;No.</th>
                    <th>Forwarded&nbsp;By</th>
                    <th>Forwarded&nbsp;On</th>
                    <th>Forwarded&nbsp;To</th>
                    <th>Operator</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in WFIndexdata %}
                    <tr class="font-16">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ item.file_number }}</td>
                      <td>
                        <span class="badge rounded-pill p-2"
                              style="background:#085984;font-size:15px;font-weight:bold;">
                          {{ item.req_num }}
                        </span>
                      </td>
                  
                      <td>{{ item.updated_by }}</td>
                      <td>{{ item.updated_at }}</td>
                      <td>{{ item.next_matrix_role }}</td>
                      <td>{{ item.operator_email }}</td>
                  
                      <td class="text-center">
                        <span class="badge rounded-pill p-2 {% if not item.color_status %}bg-primary {% endif %} "
                              style="{% if item.color_status %}background: {{ item.color_status }};{% endif %};font-size:15px;font-weight:bold;">
                          {{ item.status|safe }}
                        </span>
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <div class="alert alert-warning">Invalid data type requested</div>
{% endif %}