{% extends "bootstrap/vertical_base.html" %}
{% load static %}

{% block title %}File Manager{% endblock title %}

{% block extra_css %}
<style>
.menu-container {
    padding: 10px;
}
.nav-link {
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 2px;
    color: #212529;
    transition: all 0.2s;
}
[data-bs-theme="dark"] .nav-link {
    color: #f8f9fa;
}
</style>
{% endblock %}

{% block page_title %}
{% include "bootstrap/partials/page-title.html" with page_title='File Manager' sub_title='Apps' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row g-0">
                <div class="col-xxl-3 border-end email-border border-5">
                    <div class="offcanvas-xxl offcanvas-start h-100 file-offcanvas" tabindex="-1" id="fileSidebaroffcanvas" aria-labelledby="fileSidebaroffcanvasLabel">
                        <div class="menu-container" style="font-weight:bold">
                            <ul class="nav flex-column">
                                {% for client in clients %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#client-{{ forloop.counter }}">
                                        <i class="uil uil-building me-2"></i> {{ client.client }}
                                    </a>
                                    <div class="collapse" id="client-{{ forloop.counter }}">
                                        <ul class="nav flex-column ms-4">
                                            {% for department in client.departments %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#dept-{{ client.client|slugify }}-{{ forloop.counter }}">
                                                    <i class="uil uil-sitemap me-2"></i> {{ department.department }}
                                                </a>
                                                <div class="collapse" id="dept-{{ client.client|slugify }}-{{ forloop.counter }}">
                                                    <ul class="nav flex-column ms-4">
                                                        {% for module in department.modules %}
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#module-{{ client.client|slugify }}-{{ department.department|slugify }}-{{ forloop.counter }}">
                                                                <i class="uil uil-cube me-2"></i> {{ module.module }}
                                                            </a>
                                                            <div class="collapse" id="module-{{ client.client|slugify }}-{{ department.department|slugify }}-{{ forloop.counter }}">
                                                                <ul class="nav flex-column ms-4">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link module-link" href="#" data-client="{{ client.client }}" data-dept="{{ department.department }}" data-module="{{ module.module }}" data-type="documents">
                                                                            <i class="uil uil-files-landscapes me-2"></i> Documents
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link module-link" href="#" data-client="{{ client.client }}" data-dept="{{ department.department }}" data-module="{{ module.module }}" data-type="metadata">
                                                                            <i class="uil uil-label me-2"></i> Metadata
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link module-link" href="#" data-client="{{ client.client }}" data-dept="{{ department.department }}" data-module="{{ module.module }}" data-type="workflow">
                                                                            <i class="uil uil-cog me-2"></i> Workflow
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-9">
                    <div class="card-body">
                        <h5 class="mb-3 px-3">Recent</h5>

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="ps-3">Name</th>
                                        <th>Last Modified</th>
                                        <th>Size</th>
                                        <th>Owner</th>
                                        <th>Members</th>
                                        <th style="width: 80px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">App Design & Development</a></span>
                                        </td>
                                        <td>
                                            <p class="mb-0">Jan 03, 2020</p>
                                            <span class="font-12">by Andrew</span>
                                        </td>
                                        <td>128 MB</td>
                                        <td>
                                            Danielle Thompson
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                                    <img src="{% static '/images/users/avatar-1.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                                    <img src="{% static '/images/users/avatar-2.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                                    <img src="{% static '/images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Username">
                                                    <img src="{% static '/images/users/avatar-5.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown">
                                                <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">WorkDocX -sketch-design.zip</a></span>
                                        </td>
                                        <td>
                                            <p class="mb-0">Feb 13, 2020</p>
                                            <span class="font-12">by Coderthemes</span>
                                        </td>
                                        <td>521 MB</td>
                                        <td>
                                            Coder Themes
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                                    <img src="{% static '/images/users/avatar-4.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                                    <img src="{% static '/images/users/avatar-1.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                                    <img src="{% static '/images/users/avatar-6.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown">
                                                <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Annualreport.pdf</a></span>
                                        </td>
                                        <td>
                                            <p class="mb-0">Dec 18, 2019</p>
                                            <span class="font-12">by Alejandro</span>
                                        </td>
                                        <td>7.2 MB</td>
                                        <td>
                                            Gary Coley
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                                    <img src="{% static '/images/users/avatar-9.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                                    <img src="{% static '/images/users/avatar-7.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                                    <img src="{% static '/images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown">
                                                <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Wireframes</a></span>
                                        </td>
                                        <td>
                                            <p class="mb-0">Nov 25, 2019</p>
                                            <span class="font-12">by Dunkle</span>
                                        </td>
                                        <td>54.2 MB</td>
                                        <td>
                                            Jasper Rigg
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                                    <img src="{% static '/images/users/avatar-1.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                                    <img src="{% static '/images/users/avatar-8.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                                    <img src="{% static '/images/users/avatar-2.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Username">
                                                    <img src="{% static '/images/users/avatar-5.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown">
                                                <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="border-0">
                                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Documentation.docs</a></span>
                                        </td>
                                        <td class="border-0">
                                            <p class="mb-0">Feb 9, 2020</p>
                                            <span class="font-12">by Justin</span>
                                        </td>
                                        <td class="border-0">8.3 MB</td>
                                        <td class="border-0">
                                            Cooper Sharwood
                                        </td>
                                        <td class="border-0">
                                            <div class="avatar-group">
                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                                    <img src="{% static '/images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>

                                                <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                                    <img src="{% static '/images/users/avatar-10.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
                                                </a>
                                            </div>
                                        </td>
                                        <td class="border-0">
                                            <div class="btn-group dropdown">
                                                <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                                    <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div><!-- end row -->


{% endblock %}

{% block extra_javascript %}

{% endblock %}